<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST" class="container">
        <label for="email">Email :&nbsp;</label>
        <input type="email" name="email" placeholder="Enter your email..." id="email" required>
        <br> <br>
        <label for="pwd">Password :&nbsp;</label>
        <input type="password" name="password" placeholder="Enter your password..." id="pwd" required>
        <br> <br>
        <button type="submit" id="login-btn">Login!</button>
    </form>
    <p>Don't have an account? <a href="/signup" class="btn">Sign Up</a></p>
</body>
</html>