<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <style>
        body{
            background-color : #1c1c1c ;
            color: rgb(239, 245, 249);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100vh;
        }
        a {
            color : azure;
            text-decoration: none;
        }
        a:hover{
            cursor: pointer;
            text-decoration: underline;
            color: blanchedalmond;
        }
    </style>
</head>
<body>
    <h1>Contact Us</h1>
    <p>
        You can reach us at 
        <br>
        <span><i class="fa-brands fa-instagram" aria-hidden="true"></i> Instagram</span>
        <br>
        <span><i class="fa-brands fa-twitter" aria-hidden="true"></i> Twitter</span>
        <br>
        <span><i class="fa-brands fa-facebook" aria-hidden="true"></i> Facebook</span>
        <br>
        <span><i class="fa-brands fa-whatsapp" aria-hidden="true"></i> Whatsapp</span>
    </p>
    <nav>
        <a href="/">Home</a> | <a href="/about">About</a>
    </nav>
</body>
</html>